body{
    background-color: pink;
    background-attachment: fixed;
    background-size: cover;
    overflow-y: scroll;
    overflow-x: hidden;
    cursor: url('../images/mousey.png'), auto;
    
    height:5000px;
}
h1{
    font-size:150px;
    color: aliceblue;
    z-index:-2;

}

.parallax{
    position: relative;
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height:100vh;
    margin-bottom: 300px;
}

.parallax img{
    top:0;
    left:0;
    position:absolute;
    width:20%;
    pointer-events: none;
}

#capy{
    margin-top:30%;
    width: 20%;
}

#elephant{
    width:30%;
    margin-top:63.6%;
    margin-left:100.1%;
}

.hats{
    width:15%;
}
#hat1{
    top:80%;
    left:80%;

}
#hat2{
    top:200.8%;
    left:5%;

}