body {
    margin: 0;
    padding: 0;
    height: 100vh;
    text-align: center;
    color: white;
    overflow-y: scroll;
}

.wrapper {
    background-image: linear-gradient(to bottom right, rgb(214, 240, 255), #b4d4ff, #c9ccfd, #e7c6fc, rgb(251, 216, 247));
    min-height: 100vh;
    overflow: auto;
    padding-bottom: 80px;
    position: relative;
}

/*navbar*/
#navbar {
    background-color: #31496a;
    position: fixed; 
    width: 100%;
    display: flex;
    align-items: center;
    top:0;
    z-index: 1000;
}

#navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-right: auto;
    overflow: hidden;
}

#navbar ul li {
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    margin-left: 20px;
    box-shadow: 10px;
    display: inline;
    
}

#navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 50px; 
    background-color: #c9ccfd;
    border:2px solid #f781be;
}

#navbar ul li a:hover {
    filter: brightness(80%);
}

#navbar ul li.login,
#navbar ul li.signup {
    font-weight: bold; 
    font-style: italic; 
}

#navbar ul li.login a,
#navbar ul li.signup a {
    background-color: #f781be; 
    color: white; 
}

h1 {
    float: right;
    display: flex;
    margin-right: 0; 
    font-family:"Montserrat", sans-serif;
    font-style: italic;
    font-size: 60px;
    font-weight: 400;
    margin-top: 0;
}

.logo {
    width: 180px; 
    height: 180px;
    background-image: url('../Resources/MindBodyU.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    float:left;
}

h2{
    font-family: "Unica One", sans-serif;
    font-size: 90px;
    display: flex;
    justify-content: center;
}
#tasks{
    width: 40%;
    height: 200px;
    background-color: #31496a;
    border-radius: 20px;
    margin-left:auto;
    margin-right:auto;
    margin-top: 30px;
    padding:40px;
    font-size:150%;
}
form{
    margin:10px;
}
fieldset{
   height:90%;
   border-radius: 15px;
}
input{
    width:60%;
    height:20px;
}
select{
    font-family:inherit;
    font-size: 100%;
    color:#31496a;
}
button{
    margin-top:20px;
    width:170px;
    height:40px;
    font-family: inherit;
    font-size:24px;
    text-align:right;
    color:#31496a
}
button i{
    margin-right: 20%;
}

.calender-title{
    margin-top: 15%;
    font-size: 100px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-style: italic;
}

#calendar{
    width: 90%;
    height: 900px;
    margin-left:50px;
    margin-top:10px;
    margin-bottom: 200px;
    position: relative;
}

#calendar h1{
    width: 90%;
    height: 900px;
    margin-left:50px;
    margin-top:10px;
    margin-bottom: 200px;
    position: relative;
}

#calendar ul{
    list-style: none;
    width:100%;
    height:450px;
    
    display:flex;
    justify-content: space-around;
    border-radius: 15px;
    margin-bottom: 100px;
 
    position:relative;
    
}
#calendar .days{
    position:relative;
    width:23%;
    height:100%;
    background-color: #fcc6e3;
    margin:20px;
    border-radius: 10%;
    text-align: center;
}
#calendar .day{
    margin-top:90px;
    height:85%;
    width:100%;
    background-color: white;
    position:absolute;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    
    
}


/*footer*/

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #31496a;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}


.social-icons {
    display: flex;
    margin-right: auto; 
    margin-left: 20px;

}

.social-icon {
    color: white; 
    font-size: 25px; 
    margin-right: 10px; 
}

.social-icon:hover{
    filter: brightness(80%);
}

