title{
    color:purple;
    display:block;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: bold;
}
link{
    display:block;
}
description{
    display:block;
    margin-bottom: 2px;
    color:darkblue;
}
entry{
    display:block;
    margin-bottom:10px;
}
id{
    display:block;
}
rss{
    background-color:aliceblue;
}
feed{
    background-color:rgb(255, 232, 247);
}