header{
   font-weight: 500;
   font-size: 200%;
   font-style: oblique;
   display:flex;
   justify-content: center;
   border-style: outset;
   border-color:rgb(194,157,207);
   background-color: rgb(181,145,202);
   
   color:rgb(236, 200, 235);
}

img{
   width:300px;
   border-color: blueviolet;
}
.myImg{
   display:flex;
   justify-content: center;
   width:100%;
   height:100%;
}
.makeBox{
   margin-top: 10px;
   width: 300px;
   height:300px;
   border-style:solid;
   border-color: rgb(148, 127, 255);
}
.navBar{
   display:flex;
   color:rgb(236, 200, 235);
   height:50px;
   margin-left: 0px;
   justify-content:center;
   margin-bottom:10px;
   border-color:rgb(194,157,207);
   background-color: rgb(181,145,202);
   border-style: outset;
}
.navBar ul{
   display:flex;
   margin:10px;
   color:rgb(236, 200, 235);
}
.navBar li{
   margin-left:30px;
   margin-right:30px;
   background-color:rgb(252, 197, 226);
   height:100%;
   font-weight: bold;
   color:rgb(236, 200, 235);
   font-size:150%;
}
body{
   background-color:rgb(255, 192, 242);
   font-family: "Playfair Display", serif;
   
}

h1{
   font-size: 1em;
   margin-bottom: 0.1em;
   margin-top: 0%;
   margin-left: 0%;
   margin-right: 0%;
 
}
footer{
   display: flex;
   margin-top:25%;
   width: 100%;
   justify-content: center;
   border-style:outset;
   border-color:rgb(194,157,207);
   background-color: rgb(181,145,202);
}
h4{
   color:rgb(10, 10, 111);
   text-decoration: underline;
}
span{
   margin-right:10%;
   margin-left:10%;
   margin-bottom:1%;
}
p{
   color:rgb(10, 10, 111);
}

a:link{
   color:rgb(123, 65, 121);
}
a:visited{
   color:rgb(152, 89, 113);
}
a:active{
   color:rgb(230,190,220);
}
a:hover{
   color:rgb(230,190,220);
}

.bigCard{
   background-color: rgb(176, 210, 255);
   display:flex;
   justify-content: center;
   border-style: outset;
   border-color:rgb(176,217,255);
   color:rgb(236, 200, 235);
   margin-top:10px;
   
}
.build{
   text-align: center;
   width:33%;
}
.card{
   display:flex;
   width: 95%;
   height: 50;
   background-color:rgb(200, 218, 248);
   padding:5px;
   margin:2%;
   color:rgb(10, 10, 111);
}
.card:hover{
   background-color: rgb(213, 225, 247);
}

hr{
   margin-bottom: 0%;
}

li{
   list-style: none;
   margin-left:0%;
   font-size: 90%;
}
ul{
   margin-top:0%;
   margin-bottom: 10%;
}
h2{
   margin-bottom: 0px;
}

.text{
   justify-content: right;

   height: 100%;
   margin-right: 2%;
   
   font-family: "Playfair Display", serif;
   font-size: 80%;
   width:95%;
}