body{
    background-color: pink;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow-y: scroll;
    overflow-x: hidden;
    cursor: url('./images/mousey.png'), auto;
   
}
* {   
    margin: 0;
    padding: 0;
}
.fill_screen{
    margin:auto;
}
.wrapper{
    max-width: 100%;
    opacity:50%;
    min-height: 50vh;
    justify-content: center;
    background-image: url('../images/background3.png');
    background-attachment: fixed;
}

#projects{
    
    background-image: url('../images/background3.png');
    background-size:cover;
    background-attachment: fixed;
    max-width: 100%;
    opacity:50%;
    min-height: 100vh;
    justify-content: center;
    display:inline-flex;

}
.project{
    padding:10px;
    text-align: center;
    display:flex;
    justify-content: center;
}


h1{
    font-size: 100px;
    color:#93768e;
    margin-right:170px;
}
#block1{
    width:100%;
    padding:100px;
    text-align: center;
    justify-content: center;
}

#navbar{
    height: 40px;
    opacity:100%;
    padding:5px;
    color:#facadc;
    font-size:30px;
    background-color: #B08EAA;
    box-shadow:0px 1px #5c56846c;
    position: fixed;
    width:100%;
    z-index: 1;
}
#navbar ul{
    list-style-type: none;
    display:inline;
}
#navbar ul li{
    display:inline;
    
    margin-left: 10px;
    width:70px;
    
}
#navbar ul li a:hover{
    background-color: #e0bad9;

    color:#8a2d88;
    font-size:31px;
}
#navbar ul li a:visited{
    color:#691f68;
    font-size:31px;
}
.box{
    margin-top: 20px;
    padding:10px;
    text-align: center;
    width:400px;
    height:240px;
    background-color: #B08EAA;
    margin-left:20px;
    margin-right: 20px;
    color:#FFE0E5;
    box-shadow:0px 2px 3px #5c56846c;
    margin-bottom:20px;
}
.photo{
    width:90%;
    height:80%;
    box-shadow:0px 2px 3px #5c56846c;
    
}
h3{
    vertical-align: middle;
    margin-top: 90px;
    font-size:30px;
    color:#B08EAA;
    text-shadow:0px 2px 3px #c37aa26c;
}
.box a{
    color:#FFE0E5;
}
.box a:hover{
    color:#eecad0;
}
.box h3{
    font-size: 40px;
}
.box h4{
    vertical-align: middle;
    font-size: 30px;
    margin-bottom:5px;
    text-shadow:0px 2px 3px #5c56846c;
}
.box hr{
    border:2px solid #FFE0E5;
}
.box p{
    margin-top: 7px;
}

@media screen and (max-width: 1000px){
    .project{
        padding-left:10px;
        padding-right:10px;
        text-align: center;
        display:block;
    }
    .box {
      width: 85%;
    }
    .photo{
        width:90%;
        height:70%;
        box-shadow:0px 2px 3px #5c56846c;  
    }
    #block1{
        width:100%;
        text-align: center;
        justify-content: center;
    }
    .wrapper{
        max-width: 100%;
        opacity:50%;
        min-height: 25vh;
        justify-content: center;
        background-image: url('../images/background3.png');
        background-attachment: fixed;
    }
    #navbar{
        height: 40px;
        opacity:100%;
        padding:5px;
        color:#facadc;
        font-size:30px;
        background-color: #B08EAA;
        box-shadow:0px 1px #5c56846c;
        position: fixed;
        width:100%;
        z-index: 1;
    }
    h1{
        font-size: 80px;
        color:#93768e;
        margin-right:170px;
    }
    body{
        background-color: pink;
        background-attachment: fixed;
        background-size:auto;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    *{
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }
    h3{
        vertical-align: middle;
        margin-top: 10px;
        font-size:30px;
        color:#B08EAA;
        text-shadow:0px 2px 3px #c37aa26c;
    }
  }
